body {
    background: black;
}

.container {
    width: 70vw;
    padding: 15px;
    display: flex;
    margin: 0 auto;
    margin-top: 2%;
    border-radius: 5px;
    flex-direction: column;
    border: 5px solid gray;
    background: whitesmoke;
    box-shadow: 1px 1px 10px 2px aquamarine;
}

#loginContainer {
    margin-top: 100px;
    align-items: center;
}

.date {
    color: darkgray;
}

.message {
    color: white;
}

.msg {
    color: lime;
}

.row {
    width: 100%;
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

#loginContainer .inputgroup {
    width: 250px;
    margin: 0 0 25px 0;
}

#loginContainer input {
    height: 28px;
    border-radius: 4px;
}

#loginContainer button {
    height: 30px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    background: maroon;
    border: 2px solid black;
    box-shadow: 1px 1px 4px 2px black;
}

#loginContainer input:focus {
    box-shadow: 1px 1px 10px 2px black;
}

#chatBox, #userBox {
    width: 75%;
    display: flex;
    height: 450px;
    flex-wrap: wrap;
    overflow-y: auto;
    border-radius: 2px;
    background: black;
    border: 4px inset gray;
    box-shadow: 1px 1px 10px 2px black;
}

#userBox {
    width: 25%;
    margin-left: 10px;
    flex-direction: column;
    border: 4px inset black;
    background: antiquewhite;
}

#userBox .user {
    color: black;
    list-style-type: none;
    padding: 5px 10px 5px 0;
}

#userBox .userImg {
    width: 18px;
    height: 18px;
    padding: 0px 8px 0px 0px;
}

#userBox h3 {
    padding: 2px;
    margin: 10px;
    text-align: center;
    background: darkgray;
    border: 5px double black;
    box-shadow: 2px 2px 8px 2px black;
}

#chatBox ul {
    color: white;
    font-size: 14px;
    list-style-type: none;
}

#chatBox li {
    margin: 10px 0 10px 0;
}

#chatBox .login {
    color: green;
}


#chatBox .logout {
    color: red;
}


#chatForm {
    display: flex;
    margin: 10px 0px 5px 0px;
}

#chatForm button {
    width: 65px;
    height: 35px;
    margin-left: 5px;
    border-radius: 2px;
    font-weight: bolder;
    border: 2px solid dimgray;
    background: lightseagreen;
    box-shadow: 0px 0px 8px 5px black;
    font-family: Comic Sans MS, Arial, Helvetica, sans-serif;
}

#chatinput {
    width: 62%;
    padding: 5px;
    display: flex;
    border-radius: 2px;
    border: 2px solid black;
    box-shadow: 1px 1px 10px 2px black;
}